/.idea
/target
project/target
/.idea/
*.iml
*.ipr
*.iws
/target/
project/target/
project/project/
project/*.class
.bloop/
.metals/
.bsp/
*.log
.cache/
.history/
.scala_dependencies
.worksheet/
.DS_Store
Thumbs.db